@use '../../styles/theming' as *;

@mixin nb-menu-compact-theme() {
  nb-menu-compact {
    background-color: nb-theme(menu-background-color);
    width: nb-theme(sidebar-width-compact);

    .menu-items-compact {
      margin: 0;
      padding: 0;

      cursor: pointer;
    }

    .submenu__header {
      display: flex;
      justify-content: space-between;
    }

    .menu-group-compact,
    .menu-group-compact .menu-icon-compact {
      color: nb-theme(menu-group-text-color);
    }

    $divider: nb-theme(menu-item-divider-width) nb-theme(menu-item-divider-style) nb-theme(menu-item-divider-color);
    .menu-item-compact {
      width: 100%;
      border-bottom: $divider;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }

      .menu-item-compact:first-child {
        border-top: $divider;
      }

      a {
        color: nb-theme(menu-text-color);
        border: nb-theme(menu-submenu-item-border-color) nb-theme(menu-submenu-item-border-style)
          nb-theme(menu-submenu-item-border-width);
        border-radius: nb-theme(menu-item-border-radius);

        padding: nb-theme(menu-submenu-item-padding);
        width: 100%;
      }

      a.active {
        background-color: nb-theme(menu-item-active-background-color);
        border-color: nb-theme(menu-submenu-item-active-border-color);
        color: nb-theme(menu-item-active-text-color);

        .menu-icon-compact {
          color: nb-theme(menu-item-icon-active-color);
        }
      }

      a:hover {
        background-color: nb-theme(menu-item-hover-background-color);
        border-color: nb-theme(menu-submenu-item-hover-border-color);
        color: nb-theme(menu-item-hover-text-color);
        cursor: nb-theme(menu-item-hover-cursor);

        .menu-icon-compact {
          color: nb-theme(menu-item-icon-hover-color);
        }
      }

      .menu-icon-compact {
        color: nb-theme(menu-item-icon-color);
        font-size: nb-theme(menu-item-icon-width);
        width: nb-theme(icon-width);
        min-width: nb-theme(icon-width);
        text-align: center;
      }

      .menu-item-compact__container--default,
      .menu-title-compact {
        white-space: nowrap;
      }

      .menu-icon-compact ~ .menu-title-compact {
        margin-left: 0.5rem;
        white-space: nowrap;
      }

      .menu-title-compact ~ nb-badge-compact {
        margin-left: 0.5rem;
      }

      .menu-title-compact ~ nb-icon {
        margin-left: 0.5rem;
      }

      .expand-state {
        color: nb-theme(menu-item-icon-color);
      }

      > .menu-items-compact {
        background-color: nb-theme(menu-submenu-background-color);
        margin: nb-theme(menu-submenu-margin);
        padding: nb-theme(menu-submenu-padding);

        > .menu-item-compact {
          background: nb-theme(menu-submenu-background-color);
          color: nb-theme(menu-submenu-text-color);
        }
      }

      > .menu-item-compact__container {
        position: relative;
        width: 100%;

        > div {
          display: flex;
          align-items: center;
          padding: var(--menu-item-padding);

          cursor: pointer;
        }
      }

      > .menu-item-compact__container > .submenu__content {
        font-family: nb-theme(menu-text-font-family), sans-serif;
        font-size: nb-theme(menu-text-font-size);
        font-weight: nb-theme(menu-text-font-weight);
        padding: nb-theme(menu-item-padding);
        white-space: nowrap;
      }
    }

    .menu-group-compact,
    .menu-item-compact a,
    .menu-item-compact__container--default,
    .menu-items-compact
      > .menu-item-compact
      > .menu-item-compact__container
      > .menu-items-compact__submenu
      > .submenu__header {
      font-family: nb-theme(menu-text-font-family), sans-serif;
      font-size: nb-theme(menu-text-font-size);
      font-weight: nb-theme(menu-text-font-weight);
      line-height: 1.275rem;
      padding: nb-theme(menu-item-padding);
    }

    .menu-items-compact > .menu-item-compact > .menu-items-compact__submenu > a,
    .menu-items-compact > .menu-item-compact > .menu-item-compact__container > .menu-items-compact__submenu > a,
    .menu-items-compact
      > .menu-item-compact
      > .menu-item-compact__container
      > .menu-items-compact__submenu
      > .submenu__header {
      background-color: nb-theme(background-basic-color-4);
      white-space: nowrap;
    }

    .menu-items-compact > .menu-item-compact > .menu-items-compact__submenu > li,
    .menu-items-compact > .menu-item-compact > .menu-item-compact__container > .menu-items-compact__submenu > li {
      background-color: nb-theme(background-basic-color-2);
    }

    .menu-items-compact
      > .menu-item-compact
      > .menu-item-compact__container
      > .menu-items-compact__submenu
      > .menu-item-compact
      .menu-icon-compact {
      margin: nb-theme(menu-item-icon-margin);
    }
  }
}
