<!-- GROUP === TRUE -->
<span *ngIf="menuItem.group">
  <nb-icon class="menu-icon-compact" [config]="menuItem.icon" *ngIf="menuItem.icon"></nb-icon>
  {{ menuItem.title }}
</span>
<!------------------------------------------------------------------------------>

<!-- MENU ITEM HAS LINK BUT NO URL, NO CHILDREN & GROUP === FALSE -->

<div
  *ngIf="menuItem.link && !menuItem.url && !menuItem.children && !menuItem.group"
  (mouseenter)="onToggleSubMenu(menuItem)"
  (mouseleave)="onToggleSubMenu(menuItem)"
  class="menu-item-compact__container"
>
  <a
    [routerLink]="menuItem.link"
    [queryParams]="menuItem.queryParams"
    [fragment]="menuItem.fragment"
    [queryParamsHandling]="menuItem.queryParamsHandling"
    [preserveFragment]="menuItem.preserveFragment"
    [skipLocationChange]="menuItem.skipLocationChange"
    [attr.target]="menuItem.target"
    [attr.title]="menuItem.title"
    [attr.role]="menuItem.ariaRole"
    [class.active]="menuItem.selected"
    (click)="onItemClick(menuItem)"
  >
    <ng-container [ngTemplateOutlet]="subMenuNoChildrenTemplate"></ng-container>
  </a>
  <ng-container *ngIf="menuItem.level < 1">
    <ng-container [ngTemplateOutlet]="subMenuTitleOnlyTemplate"></ng-container>
  </ng-container>
</div>
<!------------------------------------------------------------------------------>

<!-- MENU ITEM HAS URL BUT NO LINK, NO CHILDREN & GROUP === FALSE -->
<div
  *ngIf="menuItem.url && !menuItem.children && !menuItem.link && !menuItem.group"
  (mouseenter)="onToggleSubMenu(menuItem)"
  (mouseleave)="onToggleSubMenu(menuItem)"
  class="menu-item-compact__container"
>
  <a
    [attr.href]="menuItem.url"
    [attr.target]="menuItem.target"
    [attr.title]="menuItem.title"
    [attr.role]="menuItem.ariaRole"
    [class.active]="menuItem.selected"
    (click)="onSelectItem(menuItem)"
  >
    <ng-container [ngTemplateOutlet]="subMenuNoChildrenTemplate"></ng-container>
  </a>
  <ng-container *ngIf="menuItem.level < 1">
    <ng-container [ngTemplateOutlet]="subMenuTitleOnlyTemplate"></ng-container>
  </ng-container>
</div>
<!------------------------------------------------------------------------------>

<!-- MENU ITEM HAS NO LINK, NO URL, NO CHILDREN & GROUP === FALSE -->
<div
  *ngIf="!menuItem.children && !menuItem.link && !menuItem.url && !menuItem.group"
  (mouseenter)="onToggleSubMenu(menuItem)"
  (mouseleave)="onToggleSubMenu(menuItem)"
  class="menu-item-compact__container"
>
  <ng-container *ngIf="menuItem.level !== 0">
    <div class="menu-item-compact__container--default">
      <ng-container [ngTemplateOutlet]="subMenuNoChildrenTemplate"></ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="menuItem.level === 0">
    <div
      [attr.target]="menuItem.target"
      [attr.title]="menuItem.title"
      [attr.role]="menuItem.ariaRole"
      [class.active]="menuItem.selected"
    >
      <!--(click)="$event.preventDefault(); onToggleSubMenu(menuItem)"-->

      <ng-container [ngTemplateOutlet]="subMenuNoChildrenTemplate"></ng-container>
    </div>
    <ng-container [ngTemplateOutlet]="subMenuTitleOnlyTemplate"></ng-container>
  </ng-container>
</div>
<!------------------------------------------------------------------------------>

<!-- MENU ITEM HAS CHILDREN -->
<div
  *ngIf="menuItem.children"
  (mouseenter)="!menuItem.expanded ? onToggleSubMenu(menuItem) : null"
  (mouseleave)="!menuItem?.parent?.expanded || menuItem.expanded ? onToggleSubMenu(menuItem) : null"
  class="menu-item-compact__container"
>
  <!-- root level icon only -->
  <ng-container *ngIf="!menuItem.link && !menuItem.url">
    <div
      (click)="onToggleSubMenu(menuItem)"
      [attr.target]="menuItem.target"
      [attr.title]="menuItem.title"
      [attr.aria-expanded]="menuItem.expanded ?? false"
      [attr.role]="menuItem.ariaRole"
      [class.active]="menuItem.selected"
    >
      <nb-icon class="menu-icon-compact" [config]="menuItem.icon" *ngIf="menuItem.icon"></nb-icon>
      <span *ngIf="menuItem.level !== 0" class="menu-title-compact">{{ menuItem.title }}</span>
      <ng-container *ngIf="badge" [ngTemplateOutlet]="badgeTemplate"></ng-container>
      <nb-icon
        *ngIf="menuItem.level !== 0"
        class="expand-state"
        [icon]="getExpandStateIcon()"
        pack="nebular-essentials"
      ></nb-icon>
    </div>
  </ng-container>
  <ng-container *ngIf="menuItem.link && menuItem.url">
    <a
      (click)="onToggleSubMenu(menuItem)"
      [attr.target]="menuItem.target"
      [attr.title]="menuItem.title"
      [attr.aria-expanded]="menuItem.expanded ?? false"
      [attr.role]="menuItem.ariaRole"
      [class.active]="menuItem.selected"
    >
      <nb-icon class="menu-icon-compact" [config]="menuItem.icon" *ngIf="menuItem.icon"></nb-icon>
      <span *ngIf="menuItem.level !== 0" class="menu-title-compact">{{ menuItem.title }}</span>
      <ng-container *ngIf="badge" [ngTemplateOutlet]="badgeTemplate"></ng-container>
      <nb-icon
        *ngIf="menuItem.level !== 0"
        class="expand-state"
        [icon]="getExpandStateIcon()"
        pack="nebular-essentials"
      ></nb-icon>
    </a>
  </ng-container>

  <!-- Root level children or submenu item children -->
  <ul
    [class.collapsed]="!(menuItem.children && menuItem.expanded)"
    [class.expanded]="menuItem.expanded"
    [@toggle]="{
      value: toggleState,
      params: { menuItemLevel: menuItem.level === 0 && menuItem.children ? '0px' : 'auto' }
    }"
    class="menu-items-compact menu-items-compact__submenu"
  >
    <ng-container *ngIf="menuItem.level === 0 && (menuItem.link || menuItem.url); else hasChildrenHeaderTemplate">
      <a
        [attr.target]="menuItem.target"
        [attr.title]="menuItem.title"
        [attr.aria-expanded]="menuItem.expanded ?? false"
        [attr.role]="menuItem.ariaRole"
        [class.active]="menuItem.selected"
        class="submenu__header"
        href="#"
      >
        <span class="menu-title-compact">{{ menuItem.title }}</span>
        <ng-container *ngIf="badge" [ngTemplateOutlet]="badgeTemplate"></ng-container>
      </a>
    </ng-container>
    <ng-container *ngFor="let item of menuItem.children">
      <li
        nbMenuItemCompact
        *ngIf="!item.hidden"
        [menuItem]="item"
        [badge]="item.badge"
        [class.menu-group]="item.group"
        (hoverItem)="onHoverItem($event)"
        (toggleSubMenu)="onToggleSubMenu($event)"
        (selectItem)="onSelectItem($event)"
        (itemClick)="onItemClick($event)"
        class="menu-item-compact"
      ></li>
    </ng-container>
  </ul>
</div>

<!------------------------------------------------------------------------------>

<!-- Badge Template -->
<ng-template #badgeTemplate>
  <nb-badge [text]="badge.text" [dotMode]="badge.dotMode" [status]="badge.status"> </nb-badge>
</ng-template>
<!------------------------------------------------------------------------------>

<!-- HAS CHILDREN BUT NO LINK OR URL -->
<ng-template #hasChildrenHeaderTemplate>
  <div class="submenu__header" *ngIf="menuItem.level === 0">
    <span class="menu-title-compact">{{ menuItem.title }}</span>
    <ng-container *ngIf="badge" [ngTemplateOutlet]="badgeTemplate"></ng-container>
  </div>
</ng-template>
<!------------------------------------------------------------------------------>

<!-- NO CHILDREN ITEM TEMPLATE -->
<ng-template #subMenuNoChildrenTemplate>
  <nb-icon class="menu-icon-compact" [config]="menuItem.icon" *ngIf="menuItem.icon"></nb-icon>
  <span *ngIf="menuItem.level !== 0" class="menu-title-compact">{{ menuItem.title }}</span>
  <ng-container *ngIf="badge" [ngTemplateOutlet]="badgeTemplate"></ng-container>
</ng-template>
<!------------------------------------------------------------------------------>

<!-- SUB MENU TITLE ONLY TEMPLATE -->
<ng-template #subMenuTitleOnlyTemplate>
  <ul
    [class.collapsed]="!menuItem.expanded"
    [class.expanded]="menuItem.expanded"
    [@toggle]="{
      value: toggleState,
      params: { menuItemLevel: menuItem.level === 0 ? '0px' : 'auto' }
    }"
    class="menu-items-compact menu-items-compact__submenu"
  >
    <ng-container *ngIf="menuItem.level === 0 && (menuItem.link || menuItem.url); else hasChildrenHeaderTemplate">
      <a
        [attr.target]="menuItem.target"
        [attr.title]="menuItem.title"
        [attr.aria-expanded]="menuItem.expanded ?? false"
        [attr.role]="menuItem.ariaRole"
        [class.active]="menuItem.selected"
      >
        <span class="menu-title-compact">{{ menuItem.title }}</span>
        <ng-container *ngIf="badge" [ngTemplateOutlet]="badgeTemplate"></ng-container>
      </a>
    </ng-container>
  </ul>
</ng-template>
<!------------------------------------------------------------------------------>
