@use '../../styles/theming' as *;

:host ::ng-deep {
  display: block;

  .menu-items-compact,
  .menu-item-compact > .menu-items-compact {
    list-style-type: none;
  }

  .menu-item-compact__container--default,
  .menu-item-compact a {
    display: flex;
    text-decoration: none;
    align-items: center;

    .menu-title-compact {
      flex: 1 0 auto;
      pointer-events: none;
      @include nb-rtl(text-align, right);
    }
  }

  .menu-items-compact > .menu-item-compact > .menu-item-compact__container > .menu-items-compact nb-badge {
    position: static;
    margin-left: 0.5rem;
  }

  .menu-group-compact span {
    display: flex;
  }
}
