@use '../../styles/theming' as *;

:host ::ng-deep {
  display: block;

  .menu-items-compact,
  .menu-item-compact > .menu-items-compact {
    list-style-type: none;
  }

  .menu-item-compact a {
    display: flex;
    text-decoration: none;
    align-items: center;

    .menu-title-compact {
      flex: 1 0 auto;
      pointer-events: none;
      margin-right: 1rem;
      @include nb-rtl(text-align, right);
    }
  }

  .menu-item-compact > a {
    justify-content: center;
  }

  .menu-item-compact nb-badge {
    position: static;
  }

  .menu-group-compact span {
    display: flex;
  }
}
