<nb-card>
  <nb-card-header>Nested Select Sizes</nb-card-header>
  <nb-card-body>
    <nb-select size="tiny" placeholder="Tiny nested select">
      <nb-option value="opt1">Option 1</nb-option>
      <nb-option-nested title="More Options">
        <nb-option value="nested1">Nested 1</nb-option>
        <nb-option value="nested2">Nested 2</nb-option>
      </nb-option-nested>
    </nb-select>

    <nb-select size="small" placeholder="Small nested select">
      <nb-option value="opt1">Option 1</nb-option>
      <nb-option-nested title="More Options">
        <nb-option value="nested1">Nested 1</nb-option>
        <nb-option value="nested2">Nested 2</nb-option>
      </nb-option-nested>
    </nb-select>

    <nb-select size="medium" placeholder="Medium nested select">
      <nb-option value="opt1">Option 1</nb-option>
      <nb-option-nested title="More Options">
        <nb-option value="nested1">Nested 1</nb-option>
        <nb-option value="nested2">Nested 2</nb-option>
      </nb-option-nested>
    </nb-select>

    <nb-select size="large" placeholder="Large nested select">
      <nb-option value="opt1">Option 1</nb-option>
      <nb-option-nested title="More Options">
        <nb-option value="nested1">Nested 1</nb-option>
        <nb-option value="nested2">Nested 2</nb-option>
      </nb-option-nested>
    </nb-select>

    <nb-select size="giant" placeholder="Giant nested select">
      <nb-option value="opt1">Option 1</nb-option>
      <nb-option-nested title="More Options">
        <nb-option value="nested1">Nested 1</nb-option>
        <nb-option value="nested2">Nested 2</nb-option>
      </nb-option-nested>
    </nb-select>
  </nb-card-body>
</nb-card>
